<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title != 'undefined' ? title: 'Chef - Team 3' %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
    <link href="/css/chef/style.css", rel="stylesheet">
  </head>

  <body>
    <div class="container-xxl px-md-5 bg-white shadow-lg">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/chef" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <img src="/images/CSE Logo.png" width="229" height="68" alt="Cooking Blog - Made with Node.js">
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/chef" class="nav-link px-2 link-secondary">Orders</a></li>
          <li><a href="/chef/menu" class="nav-link px-2 link-secondary">Update Menu</a></li>
        </ul>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button onclick=logOut() class="btn btn-outline-secondary btn-lg px-4 me-md-2">LogOut</button>
        </div>
      </header>
      <main>
        <% if(detail != null ) { %>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/chef">Orders</a></li>
                <li class="breadcrumb-item active" aria-current="page">orderID: <%- detail.id %></li>
              </ol>
            </nav>
            <div class="row">
              <div class="col-12 col-md-4">
                <img src="/images/detail.png" class="img-fluid sticky-top" style="top: 20px;" alt="<%- detail.id %>" loading="lazy">
              </div>
              <div class="col-12 col-md-8">
                <div class="row">
                  <div class="col-12"><h1><%- detail.id %></h1></div>
                  <div class="col-12 mb-4"><i class="bi bi-tag"></i> tableID: <%- detail.tableId %> | <%- detail.status %></div>
                  <div class="col-12" style="white-space: pre-line;">
                    <h4>Total: </h4>
                    <%- detail.total %>
                  </div>
                </div>
                <div class="row pt-4">
                  <div class="col-12">
                    <h4>Items: </h4>
                    <table class="table"> 
                      <thead>
                      <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Unit Price</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Total</th>
                      </tr>
                      </thead>
                      <tbody>
                        <%detail.cart.forEach(item => {%>
                          <tr>
                          <td><%= item.name %></td>
                          <td><%= item.price %></td>
                          <td><%= item.itemsNumber %></td>
                          <td><%= item.price * item.itemsNumber %></td>
                          </tr>
                        <%})%>
                      </tbody>
                    </table>
                  </div>
                </div>
                <form action="/chef/accecptOrder/<%- detail.id %>"  method="POST">
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Accept</button>
                  </div>
                </form>
                <div class="col-12 col-md-8">
                  <div class="row">
                    <div class="col-12"><h1> --------</h1></div>
                  </div>
                </div>
                <form action="/chef/declineOrder/<%- detail.id %>"  method="POST">
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Decline</button>
                  </div>
                </form>
                <div class="col-12 col-md-8">
                  <div class="row">
                    <div class="col-12"><h1> </h1></div>
                  </div>
                </div>
              </div>
              <% } else { %>
              <p>No item found.</p>
              <% } %>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script>
      function logOut(){
        document.cookie = 'userID' + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/;";
        window.location = '/';
      }
    </script>
  </body>
</html>