<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Manage Food</title>
        <link href="/css/manager/manageFood.css" rel="stylesheet">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <script src="/scripts/jquery.min.js"></script>
        <script src="/scripts/manager/createFood.js"></script>
    </head>
    <body>
        <header>
            <div class="inner">
                <div class="logo">
                    <div>
                        <a href="/manager"><img src="/images/logo.png" alt="MU restaurant"></a>  
                    </div>
                </div>
                <nav>
                  <li><a href="/manager/manageEmployee">Manage Employee</a></li>
                  <li><a href="/manager/manageFood">Manage Food</a></li>
                  <li><a href="/manager/manageTable">Manage Table</a></li>
                  <li><span><button  style="border: 0; border-radius: 5px;" class="button" onclick=logOut()>Logout</button></span></li>         
                </nav>
            </div>
        </header>
        <div class="create-form">
            <form action='/manager/manageFood' method="POST">
                <div class="container">
                    <img class="close-button" src="/images/close-button.png">
                    <h1>Food Form</h1>
                    <p>Please fill out the form</p>
                    <hr>

                    <label for='name'></label>
                    <b>Name</b>
                    <input type='text' placeholder='Name' name='name'>

                    <label for='price'></label>
                    <b>Price</b>
                    <input type='text' placeholder='Price' name='price'>

                    <label for='description'></label>
                    <b>Description</b>
                    <input type='text' placeholder='Description' name='description'>

                    <label for='image'></label>
                    <b>Image</b>
                    <input type='text' placeholder='URL' name='image'>

                    <label for='type'></label>
                    <b>Type (separated by a comma, no space)</b>
                    <input type='text' placeholder='Type' name='type'>

                    <div class="status">
                        <b>Status</b>
                        <select name="status">
                            <option value="true">Available</option>
                            <option value="false">Unavailable</option>
                        </select>
                    </div>
                    
                </div>

                <div class="clearfix">
                    <button class="signupbtn" type="submit">Create</button>
                </div>
            </form>
        </div>

        <div class="container-main">
            <h1>
                Manage Food     
            </h1>
            <span>
                <button id="createFood">Create Food</button>
            </span>
            <div class="action-selection">
                
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <%foods.forEach(food => {%>
                        <tr>
                            <td><img src=<%= food.image %>></td>
                            <td><%= food.id %></td>
                            <td><%= food.name %></td>
                            <td><%= food.status %></td>
                            <td><%= food.price %></td>
                        </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
        <script>
            function logOut(){
              document.cookie = 'userID' + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/;";
              window.location = '/';
            }
          </script>
        
    </body>
    

</html>