<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/bootstrap.min.css">
    
    <script type = "commonjs" src="./index.js"></script>
    <title>Cashier</title>
  </head>
  <body>
    <header>
      <div class="inner">
          <div class="logo">
              <div>
                  <img src="/logo.png" alt="MU restaurant">
              </div>
          </div>
          <nav>
              <li><span><a href="" class="button">Logout</a></span></li>
          </nav>
      </div>
  </header>

    <div class="content">
      <div id="bill">

        <%receipts.forEach(Receipts => {%>
        <h1>Hóa đơn <%= Receipts.id %></h1>
        <p>Thời gian: <%= Receipts.time %> </p>

        <table class="table"> 
          <thead>
          <tr>
              <th scope="col">Món ăn</th>
              <th scope="col">Giá</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Số tiền</th>
          </tr>
          </thead>
          <tbody>
            <%Receipts.listOrder.forEach(Order => {%>
              <tr>
              <td><%= Order.name %></td>
              <td><%= Order.price %></td>
              <td><%= Order.quantity %></td>
              <td><%= Order.price * Order.quantity %></td>
              </tr>
            <%})%>
          </tbody>
        </table>
      
      
      <div class="ctotal" id="ctotal">Tổng tiền: <%= Receipts.totalCost %> VND</div>
      
      <form method="GET" action="/cashier/update/<%= Receipts._id %>" >
        <input type="submit" value="Xác nhận" id="cempty">
      </form>

     <form>
      <input type="button" value="In" id="ccheckout" onclick = Print()>
      </form>
      
      <script>
        function Print() {
          var b = document.getElementById("bill");
          var printWin = window.open();
          printWin.document.write(b.innerHTML);
          printWin.stop();
          printWin.print();
          printWin.close();
        }
      </script>
        
      

        <% }) %>

        
      </div>
      

      <div id="poscart">

      <%listReceipt.forEach(Receipt => {%>
        <input class="citem" type="button" value="Đơn hàng <%= Receipt.id %>"  onclick="document.location.href= '/cashier/<%= Receipt._id %>'; cnt++;">
        </input>
        <%})%>
      </div>

      <div id="posreceipt"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>


